body {
  max-height: 100vh;
  min-width: 1097px;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.consola pre {
  color: #16bc79;
  overflow: scroll;
  width: 100%;
  height: 100%;
}
.consola {
  background-color: #1e1e1e;
}
.container-main {
  background-color: #90a081;
  min-width: 725px;
}
.container-main button {
  width: 200px;
  font-size: 20px;
}
.sidebar {
  background-color: #f1ac7b;
}
.container-sidebar {
  max-height: 800px;
  height: 80%;
  width: inherit;
  border: 1px dotted blue;
  min-width: 267px;
}
